extends layout

block content
  H5 BlahBlahBlah...
  .row
    form.col.s12(method='POST' action='/form')
      .row
        .input-field.col.s4
          input(type='text' name='name' class='validate')
          label Name
        .col.s2
        .input-field.col.s4
          select(name='branch')
            option(value="" disabled selected) Branch
            option(value='comps') Computers
            option(value='electronics') Electronics
            option(value='extc') Electronics and Telecommunication
            option(value='it') Information Technology

      .row
        .input-field.col.s4
          input(type='email' name='email' class='validate')
          label(for="email" data-error="Invalid email") Email
        .col.s2
        .input-field.col.s4
          select(name='stream')
            option(value="" disabled selected) 12th Stream
            option(value='bio-lang') Bio + Lang
            option(value='bio-it') Bio + IT
            option(value='biofocal-cs') Bifocal-CS
            option(value='bifocal-electronics') Bifocal-Electronics
            option(value='other') Others
      
      .row
        .input-field.col.s2
          input(type='number' min='0' max='100' name='ten' class='validate')
          label.control-label 10th Percentage
        .col.s2         
        .input-field.col.s2
          input(type='number' min='0' max='100' name='twelve' class='validate')
          label.control-label 12th Percentage
        .col.s2 
        .input-field.col.s2
          input(type='number' name='jee' class='validate')
          label.control-label JEE Marks
      
      .row
        h5.col.s6 Semester 1 Marks
        h5.col.s6 Semester 2 Marks
      
      .row
        .input-field.col.s4
          input(type='number' name='math1' max='100' class='validate')
          label.control-label Applied Mathematics 1
        .col.s2
        .input-field.col.s4
          input(type='number' name='math2' max='100' class='validate')
          label.control-label Applied Mathematics 2
        
      .row
        .input-field.col.s4
          input(type='number' name='phy1' max='100' class='validate')
          label.control-label Applied Physics 1
        .col.s2
        .input-field.col.s4
          input(type='number' name='phy2' max='100' class='validate')
          label.control-label Applied Physics 2
          
      .row
        .input-field.col.s4
          input(type='number' name='chem1' max='100' class='validate')
          label.control-label Applied Chemistry 1
        .col.s2
        .input-field.col.s4
          input(type='number' name='chem2' max='100' class='validate')
          label.control-label Applied Chemistry 2
        
      .row
        .input-field.col.s4
          input(type='number' name='mech' max='100' class='validate')
          label.control-label Engineering Mechanics
        .col.s2
        .input-field.col.s4
          input(type='number' name='ed' max='100' class='validate')
          label.control-label Engineering Drawing
          
      .row
        .input-field.col.s4
          input(type='number' name='bee' max='100' class='validate')
          label.control-label Basic Electrical & Electronics Engg
        .col.s2
        .input-field.col.s4
          input(type='number' name='spa' max='100' class='validate')
          label.control-label Structured Programming Approach
      br
      .row
        .col.s9
        button(type='submit' class='btn btn-primary') Submit
