doctype html
html
  head
    title Student Data Collection
    link(rel='icon' type='image/png' href='../poo.png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' type='text/css' href='../bower_components/materialize/dist/css/materialize.css'  media='screen,projection')
    link(rel='stylesheet' type='text/css' href="../css/index.css")
    link(rel='stylesheet' type='text/css' href="../bower_components/sweetalert/dist/sweetalert.css")
    script(src="../bower_components/jquery/dist/jquery.js")
    script(src="../bower_components/sweetalert/dist/sweetalert.min.js")
    script(src="../bower_components/materialize/dist/js/materialize.js")
    script(src='../js/index.js')
    
  body
    nav
      .nav-wrapper
        img.active(src='../poo.png' style="width:35px; height:35px; margin: 10px 100px 0px;")
        ul#nav-mobile.right.hide-on-med-and-down
          li#log-in
            // Modal Trigger
            a.waves-effect.waves-light.modal-trigger(href='#modal1') Admin Login
            // Modal Structure
            #modal1.modal
              .modal-content
                form(method='POST' action='/admin_area/login')
                  .form-group
                    label.control-label Username:
                      input(type='text' name='adminName' class='form-control' id='inputDefault')
                  .form-group
                    label.control-label Password:
                      input(type='password' name='pass' class='form-control' id='inputDefault')
                  .form-group
                    button.btn.btn-primary.waves-effect.waves-light(type='submit'  style='margin: 0 15px;') Login
          li
            #log-out
              a.waves-effect.waves-light(href='/admin_area/logout') Logout
      
    br
    .container
      != messages('message', locals)
      if errors
        for error in errors
          div(class='card-panel red lighten-4 red-text text-darken-4') #{error.msg}
          -break
      block content
    
    br
    br    
