.modal {
  width: 400px  !important ;
  height: 400px !important ;
  overflow-y: hidden !important;
}
.nav-wrapper{
 background-color: #3C8DBC !important;
}
.btn-primary{
  background-color: #3C8DBC !important;
}
nav{
  height: 50px !important;
  line-height: 50px !important;
}
